<template name="chat">
  <div id="chat">
    <div class="messages">
      {{#each messages}}
        <p><span title="{{moFormat createdAt}}">{{moFromNow createdAt}}</span> {{owner}}: {{text}}</p>
      {{/each}}
    </div>
    <form class="form-inline">
      <div class="form-group" style="width: 100%;">
        <label for="message">Message</label>
        <input type="text" class="form-control" name="message" id="message" placeholder="Would you sell for 200 flux?" style="width: 100%;">
      </div>
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</template>