<template name="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Trove Marketplace</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/items">Items for Sale</a></li>
          <li><a href="/sell-your-item">Sell Something</a></li>
          <li><a href="http://reddit.com/r/trove">Trove Subreddit</a></li>
          <li><a target="_blank" href="https://github.com/sergiotapia/trovemarketplace">Source Code</a></li>
        </ul>
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/">My Items</a></li>
                <li><a href="/sell-your-item">Sell Item</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="logout-button" href="/">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        {{/if}}
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</template>